<div class="container mb-100 pt-5">
    <div class="row">
        <div class="col-md-12 mb-5 text-center">
            <h2>My Works</h2>
        </div>
        <div class="col-md-12">
            <!-- Software Engineer Career -->
            <div class="outer-white">
                <div class="dot dot-white-1"></div>
                <div class="dot dot-white-2"></div>
                <div class="dot dot-white-3"></div>
            </div>
            <div class="card-body-style text-dark bg-white skill-sets mb-4">
                <h3 class="mb-4">Software Engineer</h3>
                
                <div class="mb-4">
                    <span class="company-name">Onetick Technologies Pvt Ltd</span><span> (2021 - Present)</span>
                    <p>
                        At Onetick Technologies, I work as a frontend web developer using TypeScript with the Angular framework (versions 8 and 14). Our primary project is the Revenue Management System (RMS), a financial model web application that is part of the SARAS e-GOV platform managed by Protean e-Gov Technologies (formerly NSDL). You can view the platform at     <a href="https://www.saras.gov.in/" target="_blank" rel="noopener noreferrer">https://www.saras.gov.in</a>
                        
                    </p>

                   <div class="company-name"> My responsibilities include: </div>

                   <ul>
                    <li>
                        Developing new features and modules
                    </li>
                    <li>
                        Fixing bugs and optimizing performance
                    </li>
                    <li>
                        Implementing responsive UI using Angular Material
                    </li>
                   </ul>

                </div>
                
                <div class="mb-4">
                    <span class="company-name">Arosys Technologies Pvt Ltd.</span><span> (2020 - 2021)</span>
                    <p>
                        Worked on multiple web applications using HTML, CSS, JavaScript, and Angular. The primary product was the lead management system <a href="https://www.leadangel.com/" target="_blank" rel="noopener noreferrer">LeadAngel</a>.  
                        My role included developing new features and resolving bugs using Angular and Material UI. Additionally, I worked on a ColdFusion-based product and managed the company website built with WordPress.
                    </p>
                </div>
                
                <div class="mb-4">
                    <span class="company-name">Ethereal Corporate Motion Pictures Pvt. Ltd.</span><span> (2019 - 2020)</span>
                    <p>
                        Full stack developer working on various web applications using HTML, CSS, JavaScript, PHP, and Bootstrap.  
                        Frontend technologies: HTML, CSS, JavaScript, Bootstrap<br>
                        Backend technologies: PHP (CodeIgniter & Laravel), MySQL<br>
                        Some projects include: 
                        <a href="http://gateacademy.co.in" target="_blank" rel="noopener noreferrer">Gate Academy</a>, 
                        <a href="https://www.hydrema.com/" target="_blank" rel="noopener noreferrer">Hydrema</a>, 
                        <a href="https://geniqueeducation.in/" target="_blank" rel="noopener noreferrer">Genique Education</a>, 
                        <a href="https://www.stc-overseas.com/" target="_blank" rel="noopener noreferrer">STC Overseas</a>.
                    </p>
                </div>
            </div>

            <!-- SEO Career -->
            <div class="outer-white">
                <div class="dot dot-white-1"></div>
                <div class="dot dot-white-2"></div>
                <div class="dot dot-white-3"></div>
            </div>
            <div class="card-body-style text-dark bg-white skill-sets mb-4">
                <h3 class="mb-4">SEO Executive</h3>

                <div class="mb-4">
                    <span class="company-name">Arosys Technologies Pvt Ltd.</span><span> (2020 - 2021)</span>
                    <p>
                        Managed SEO for the <a href="https://www.leadangel.com/" target="_blank" rel="noopener noreferrer">LeadAngel</a> WordPress website, including sitemap creation and meta tag analysis for blog articles.
                    </p>
                </div>

                <div class="mb-4">
                    <span class="company-name">Ethereal Corporate Motion Pictures Pvt. Ltd.</span><span> (2019 - 2020)</span>
                    <p>
                        Implemented SEO strategies and meta tags across various websites, conducted keyword research and analysis. Projects included 
                        <a href="http://gateacademy.co.in" target="_blank" rel="noopener noreferrer">Gate Academy</a> and 
                        <a href="https://www.stc-overseas.com/" target="_blank" rel="noopener noreferrer">STC Overseas</a>.
                    </p>
                </div>
            </div>

            <!-- Social/Digital Media Marketing Career -->
            <div class="outer-white">
                <div class="dot dot-white-1"></div>
                <div class="dot dot-white-2"></div>
                <div class="dot dot-white-3"></div>
            </div>
            <div class="card-body-style text-dark bg-white skill-sets">
                <h3 class="mb-4">Digital Marketing</h3>
                <div class="mb-4">
                    <span class="company-name">Vidhansabha Election Campaign</span><span> (2018)</span>
                    <p>
                        Managed the candidate's social media presence for the 2018 Vidhansabha Bhilai Nagar election in Chhattisgarh across Facebook, WhatsApp, Instagram, and Twitter, reaching over 1 million users. The campaign resulted in a successful election outcome.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
