<div class="container mb-100">
    <div class="row">
        <div class="col-md-12 mb-5 text-center">
            <h2>My Works</h2>
        </div>
        <div class="col-md-12">
            <!-- software engineer career -->
            <div class="outer-white">
                <div class="dot dot-white-1"></div>
                <div class="dot dot-white-2"></div>
                <div class="dot dot-white-3"></div>
            </div>
            <div class="card-body-style text-dark bg-white skill-sets mb-4">
                <h3 class="mb-4">Software Engineer</h3>
                <div class="mb-4">
                    <span class="company-name">Ethereal Corporate Moition Pitcures Pvt. Ltd.</span><span> (2019 - 2020)</span>
                    <p>
                        Working on mutiple web application using HTML,CSS,JS Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sint vitae, dignissimos, autem eum eos unde incidunt distinctio qui, hic dolor quaerat quo commodi fuga corporis facere dolorem officia iste!
                    </p>
                </div>
                <div class="mb-4">
                    <span class="company-name">Arosys Technologies Pvt Ltd.</span><span> (2020 - 2021)</span>
                    <p>
                        Working on mutiple web application using HTML,CSS,JS Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sint vitae, dignissimos, autem eum eos unde incidunt distinctio qui, hic dolor quaerat quo commodi fuga corporis facere dolorem officia iste!
                    </p>
                </div>
                <div class="mb-4">
                    <span class="company-name">Onetick Technologies Pvt Ltd</span><span> (2021 - Present)</span>
                    <p>
                        Working on mutiple web application using HTML,CSS,JS Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sint vitae, dignissimos, autem eum eos unde incidunt distinctio qui, hic dolor quaerat quo commodi fuga corporis facere dolorem officia iste!
                    </p>
                </div>
            </div>

            <!-- SEO career -->
            <div class="outer-white">
                <div class="dot dot-white-1"></div>
                <div class="dot dot-white-2"></div>
                <div class="dot dot-white-3"></div>
            </div>
            <div class="card-body-style text-dark bg-white skill-sets mb-4">
                <h3 class="mb-4">SEO Executive</h3>

                <div class="mb-4">
                    <span class="company-name">Arosys Technologies Pvt Ltd.</span><span> (2020 - 2021)</span>
                    <p>
                        Working on mutiple web application using HTML,CSS,JS Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sint vitae, dignissimos, autem eum eos unde incidunt distinctio qui, hic dolor quaerat quo commodi fuga corporis facere dolorem officia iste!
                    </p>
                </div>

                <div class="mb-4">
                    <span class="company-name">Ethereal Corporate Moition Pitcures Pvt. Ltd.</span><span> (2019 - 2020)</span>
                    <p>
                        Working on mutiple web applications using HTML,CSS,JS
                    </p>
                </div>
              
                <div class="mb-4">
                    <span class="company-name">Arosys Technologies Pvt Ltd.</span><span> (2018 - 2019)</span>
                    <p>
                        Working on mutiple web application using HTML,CSS,JS Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sint vitae, dignissimos, autem eum eos unde incidunt distinctio qui, hic dolor quaerat quo commodi fuga corporis facere dolorem officia iste!
                    </p>
                </div>
            </div>


            <!-- Social/Digital Media Marketing Career-->
            <div class="outer-white">
                <div class="dot dot-white-1"></div>
                <div class="dot dot-white-2"></div>
                <div class="dot dot-white-3"></div>
            </div>
            <div class="card-body-style text-dark bg-white skill-sets">
                <h3 class="mb-4">Digital Marketing</h3>
                <div class="mb-4">
                    <span class="company-name">Vidhansabha Election Campaign</span><span> (2018)</span>
                    <p>
                        Manage and be in charge of the candidate's social media page for the 2018 Vidhansabha Bhilai Nagar election in the state of Chhattisgarh. such as Facebook, Whatsapp, Instagram, and Twitter, all of which have a reach of over 1 million users.The outcome become favorable and won the election
                    </p>
                </div>
            </div>

            


        </div>
    </div>
</div>