.menu-button{
    background-color: rgba(0,0,0,0);
    border: 0px;
    color: #fff;
    z-index: 9;
    position: fixed;;
}

/* Point Menu */
.bar {
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: transform .5s;
			transition: transform .5s;
	z-index: 6;
}

.bar .line {
	fill: none;
	transition: stroke-dasharray .5s, stroke-dashoffset .5s;
	stroke: #fff;
	stroke-width: 4.5;
	stroke-linecap: round;
}

.bar .top {
	stroke-dasharray: 40 172;
}

.bar .middle {
	stroke-dasharray: 40 111;
}

.bar .bottom {
	stroke-dasharray: 40 172;
}

.bar.b-open .top {
	stroke-dashoffset: -132px;
}

.bar.b-open .middle {
	stroke-dashoffset: -71px;
}

.bar.b-open .bottom {
	stroke-dashoffset: -132px;
}

/* Filter */
.filter {
	-webkit-filter: blur(3px);
			filter: blur(3px);
}

.filter:after {
	opacity: 1;
}